header {
 background-color: aqua;
}
.description {
    background-color: blue;
}
h2{
    margin: 0;
}
.ingredients {
    background-color: blueviolet;
}
body{
    margin: 0;
    padding: 0;
}
ol{
    margin: 0;

}